extends /layout/_application
block title
  title 
block body
  #wrapper
    #head
    #nose
    #mouth
    #buttons
      .button.head(data-id="head")
      .button.nose(data-id="nose")
      .button.mouth(data-id="mouth")
    #balloon
      p.result スロット失敗...
      p.nameContainer.
        「<span class="name">タージマハル</span>」
      div.buttons
        p.message
        p.retry
          button#retry もう一度遊ぶ
