extends /layout/_application
block title
  title 
block body
  #wrapper
    #head
    #nose
    #mouth
    #buttons
      .button.head(data-id="head")
      .button.nose(data-id="nose")
      .button.mouth(data-id="mouth")
